section{
    margin-bottom: 20px;
}

.jobEntry{
    margin: 0 20% ;
    clear: both;
}

.aboutMain{
    text-align: center;
}

.textContainer{
    float: left;
}

.imageContainer{
    float: left;
    margin-left: 20px;
    border-style: ridge;
}

