h2{
    text-decoration: underline;
}

.subHeading{
    margin: 10px 10px;
    text-align: center;
}

.aboutMeImg, .aboutMeText{
    margin: 0 auto;
}

.aboutMeImg {
    padding-top: 70px;
    display: block;
    background-size: cover;
    background-position: center;    
}

.aboutMeText{
    box-sizing: content-box;
    max-width: 90%;
    min-width: 50%;
    text-align: center;
}

.projImg{
    margin-top: 10px;
}

.projDesc{
    margin-top: 5px;
    margin-left: 50px;
}