header{
    position: fixed;
    top: 0;
    left: 0;  
    width: 100%;
    z-index: 1000;
    background-color: black;
    border-bottom: 3px;
    border-bottom-color: #66FF66;
    border-bottom-style: solid;
}

nav{
    max-height: 556px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 0 1em;
    
}


ul{ 
    align-items: center;
    display: flex;
    flex-direction: row;
    column-gap: 2.5rem;
}


li {
    list-style: none;
}

.linkStyles {
    transition: background-color 0.5s linear;
    border-radius: 10px;
    text-decoration: none;
    color: #66FF66;
    padding: 10px;
    &:hover {
          
        background-color: #66FF66;
        color: #000;
        cursor: pointer;
    }
}




