section {
    margin-bottom: 20px;
}

.projectEntry{
    margin: 0 10% ;
}

.textContainer{
    float: left;
    width: 50%;
}   

.textContainer, h2{
    margin:auto;
}

.imageContainer{
    float: right;
    border-style: ridge;
}

.svgLogos{
    text-align: center;
    clear: both;
}

.projectIntro{
    text-align: center;
}