section {
    margin-bottom: 20px;
}

.projectEntry{
    margin: 0 20% ;
    clear: both;
}

.textContainer{
    float: left;
}   

.imageContainer{
    float: left;
    margin-left: 20px;
    border-style: ridge;
}

.svgLogos{
    text-align: center;
    clear: both;
}