* {
    font-family: 'Workbench', monospace ;
    text-shadow: 1px 1px 1px rgb(150,167,124), 0 0 1em rgb(150, 167, 124);
    color: #66FF66;
}
body{
    background-image: url(../src/assets/img/Scanline.png);
    background-size: cover;
    background-position: center;
    background-color: rgb(34, 43, 34);
    height: 100vh;
}